@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: "Inter", system-ui;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Move down */
  }
}

.moveUpDown {
  animation: moveUpDown 2.5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-gradient-animated {
  background: linear-gradient(111deg, #FC925B 22.36%, #E0D5FA 35.71%, #44B9ED 49.93%, #90B1A9 64.44%, #F7949E 78.08%);
  background-size: 300% 300%;
  animation: gradientAnimation 5s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}